html,
body {
  margin: 0;
  padding: 0;
  background-color:black;
  color:white;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
}
.windowbox {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    text-align:center;
    padding: 20px 40px;
    width:50%;
    top:25%;
    height:50%;
    border-top: white 3px solid;
    border-bottom: white 3px solid;
    border-left: white 3px solid;
    border-right: white 3px solid;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 1px 2px 3px #000;
    -moz-box-shadow: 1px 2px 3px #111;
    box-shadow: 1px 2px 3px #1d1d1d;
    -webkit-border-radius: .9em;
    -moz-border-radius: .9em;
    border-radius: .9em;
    z-index: 3;

}

.windowbox h1 {
    margin: 0 0 12px 0;
    padding: 12px 0;
    font-size: 24px;
    color: #ffffff;
}

.windowbox p {
    margin: 0 0 12px 0;
    line-height: 1.5em;
    font-size: 15px;
    color: #ffffff;
}

.windowbox span {
    font-weight: bold;
}
.bodyalign{
margin-top  : 13%;
text-align:center}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
input[type=button], input[type=submit], input[type=reset] {
  outline:none;
  background-color: #800080;
  border: white 1px solid;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: .5em;
}
input[type=text] {
   width: 280px;
}
